<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描指定包下的bean，扫描业务类 -->
    <context:component-scan base-package="cn.edu.sdust.service.impl" />

    <!-- 载入jdbc配置文件及其它系统properties配置文件 -->
    <context:property-placeholder location="classpath:jdbc.properties" />

    <!--jdbc数据源，数据库连接池：dbcp2，c3p0，druid(有中国特色)，hikari光速 -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <!-- 基本属性 url、user、password -->
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.user}" />
        <property name="password" value="${jdbc.password}" />

        <!-- 配置最小、最大。注意：生产环境的参数可能会远远大于测试环境的参数。 -->
        <property name="initialSize" value="10" />
        <property name="maxTotal" value="30" />
        <property name="maxIdle" value="20" />
        <property name="minIdle" value="5" />
        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWaitMillis" value="3000" />
        <property name="poolPreparedStatements" value="true" />
        <!-- 配置缓存的PreparedStatement的数量 -->
        <property name="maxOpenPreparedStatements" value="200" />

        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000" />

        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000" />

        <!-- 将testOnBorrow和testOnReturn设置为true的话，会影响数据库操作性能 -->
        <property name="testWhileIdle" value="true" />
        <property name="testOnReturn" value="false" />
        <property name="testOnBorrow" value="false" />
        <property name="testOnCreate" value="false" />
    </bean>

    <!-- Mybatis配置。创建SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 指定数据源 -->
        <property name="dataSource" ref="dataSource" />
        <!-- mybatis的配置文件，不是必须的 -->
        <property name="configLocation" value="classpath:mybatis.xml" />

        <!-- 注意：value值配置的是路径格式，不是包格式 -->
        <property name="mapperLocations" value="classpath:spring_dao.xml" />

        <!-- 配置mybatis的自动分页插件 -->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <value>
                            helperDialect=mysql
                            reasonable=true
                            rowBoundsWithCount=true
                            pageSizeZero=true
                            offsetAsPageNum=true
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>

    <!-- @mapper注解扫描器，将包下面的mapper接口自动创建代理对象，自动创建到Spring容器中，bean的id就是mapper的类名(首字母小写) -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.edu.sdust.dao" />
    </bean>

    <!-- 配置mybatis需要的会话，会话不能使用单例 -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>
</beans>